body {
	overflow: hidden;
	font-size: 1.1em; 
	font-weight: 300;	
}

.slides a:hover {
	text-decoration: underline;
}

.slides-wrapper, .slides {
	width: 100%;
	height: 100%;
	margin: 0;
}

.slide-title-info {
	display: inline-block;
	vertical-align: baseline;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 300;
}

.slides-wrapper .slide-title {
	margin-bottom: 20px;
}

.slides-wrapper .slide-title h1 {
	margin-top: 0;
	font-weight: 100 !important;
	margin-bottom: -10px !important;
}

.slides-wrapper h5, .slides-wrapper .txt {
	font-weight: 300;
}

.slides-wrapper .txt b {
	font-weight: 400 !important;
}

.slides li {
	position: absolute;
	padding-top: 5%;
	padding-left: 6vw;
	padding-right: 6vw;
	opacity: 1;
	/*display: none;*/
	min-height: 100%;
	width: 100%;
}

.slides li a {
	color: white;
}

.wrapper {
	position: relative;
	vertical-align: middle;
	width: 50px;
	height: 50px !important;
}

.arc {
	position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid;
}

.arc-start {
    border-color: white white white transparent;
    transform: rotate(45deg);
}

.arc-end {
    border-color: transparent transparent white transparent;
}

.arc-perc {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
}

.perc {
	display: table;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 5px;
	height: 50px !important;
}

.perc .txt {
	display: table-cell;
    vertical-align: middle;
    padding-left: 10px; 
}

.foot-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 5%;
	padding-left: 6vw;
	padding-right: 6vw;
	z-index: 10;
}

.foot-bar ul {
	display: inline-block;
}

.social, .social .col, .foot-bar .row {
	margin: 0 !important;
	padding: 0  !important;
}

.foot-bar .row .col {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.foot-bar .row {
	position: relative;
}

.social img, .social i {
	width: 30px;
	height: 30px;
	margin-right: 3px;
	margin-left: 3px;
}

.social i {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-left: 1px solid white;
}

.social-mob {
	padding-top: 2em !important;
	display: none;
}

.mtab {
	position: absolute;
	right: 0;
	top: 50%;
	height: 100%;
	padding-top: 1px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	transform: translateY(-50%);
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}

.mtab a {
	color: white;
}

.mtab .col{
	display: inline-block;
	right: 0;
}

.mtab li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 400 !important;	
}

.tab-line-wrapper {
	position: absolute;
	bottom: 2px;
	right: 0;
	width: 100%;
	height: 2px;
	padding-left: 0;
	padding-right: 100%;
	-webkit-transition: padding .2s ease-out;
	-o-transition: padding .2s ease-out;
	transition: padding .2s ease-out;
}

.tab-line {
	background-color: white;
	height: 100%;
	width: 100%;
}

.btn-group span {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	border: 1px solid white;
	border-radius: 3px;
	font-weight: 400;
}

.projects-list {
	line-height: 1.3em;
}

.expandable {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 5;
	background-color: white;
	-webkit-transition: transform .3s ease-in-out, opacity 0.1s linear;
	-o-transition: transform .3s ease-in-out, opacity 0.1s linear;
	transition: transform .3s ease-in-out, opacity 0.1s linear;
}

.slides .sub-title {
	padding-bottom: 1em;
}

.slides .sub-title-second {
	padding-top: 1.5em;
	padding-bottom: 1em;
}

@media only screen and (min-width: 1380px){

	body {
		font-size: 1.3rem;
	}

}

@media only screen and (max-width: 992px){

	body {
		overflow: scroll;
	}

	.foot-bar {
		top: 0;
		left: 0;
		height: 5em;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0;
		padding-right: 0;
		overflow-x: scroll;
		overflow-y: hidden;
	}

	.foot-bar .row {
		height: 2.4em;
	}

	.foot-bar .social {
		display: none;
	}

	.slides li {
		padding-top: 16%;
		padding-bottom: 6%;
	}

	.slides li .col {
		padding-left: 0;
		padding-top: 1em;
	}

	.mtab {
		left: 0;
		right: auto;
		bottom: auto;
		margin-left: 0;
		width: 100%;
	}

	#tab-line-wrapper {
		display: none;
	}

	.mtab a {
		display: inline-block;
		box-sizing: initial;
	}

	.mtab li {
		display: table-cell;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 7px;
	}

	.slide-title-info {
		width: 100%;
		padding-left: 0;
	}

	.social-mob {
		display: inherit;
	}

	#experience .right {
		width: 100%;
	}

}
